@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --border: #383838;
  --ring: #737373;
}

@theme inline {
  --font-sans: "Geist Mono", "Geist Mono Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --font-serif: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
