@import "tailwindcss";

:root {
  --background: #0a0a0a;
}

@theme inline {
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-jetbrains-mono);
  --font-serif: var(--font-jetbrains-mono);
  --color-background: var(--background);
}

@layer base {
  body {
    @apply bg-background;
  }
}
