---
missingFileHandler: Error

helmDefaults:
  wait: true
  timeout: 600
  force: false
  createNamespace: true
  atomic: true
  historyMax: 10

repositories:
  - name: cmld
    url: https://git.horse/api/v4/projects/149/packages/helm/stable

releases:
  - name: sotallc-frontend
    namespace: sota-llc
    chart: cmld/app-release
    version: 2.5.0
    values:
      - values.yaml
    set:
      - name: deployment.containers[0].image.tag
        value: {{ requiredEnv "CI_COMMIT_SHA" }}
